<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <h1><a href="{{ url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
    </header>
    {{ content }}
</body>
</html>