---
layout: default
---
<main>
    <article>
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <p class="meta">{{ page.date | date: "%A, %e %B, %Y" }} - {{ page.author.display_name }}</p>
        {{ content }}
    </article>
    <div class="tags">
        {% if page.tags %}
            {% include tags.html %}
        {% endif %}
    </div>
    <nav class="post-navigation">
        {% if page.previous %}
          <a href="{{ page.previous.url }}" class="previous-post">← {{ page.previous.title }}</a>
        {% endif %}
      
        {% if page.next %}
          <a href="{{ page.next.url }}" class="next-post">{{ page.next.title }} →</a>
        {% endif %}
    </nav>
</main>